* {
    margin: 0;
    padding: 0;
    line-height: 0px;
}

body {
    background-color: #ccc;
}

.container {
    border: 5px solid white;
    margin: 20px auto;
    width: 600px;
    overflow: auto;
}

.thumb {
    width: 200px;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
}

.thumb:hover {
    opacity: 0.5;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.selected {
    opacity: 0.5;
}